h1.main-title {
	color: var(--md-primary-fg-color);
	font-weight: 600;
}

h2.goal .twemoji {
	color: var(--md-primary-fg-color);
}

h2.goal strong {
	font-weight: 600;
}

td.title-cell {
	color: var(--md-default-bg-color);
	background-color: var(--md-default-fg-color--light);
	border-top: 0;
}

.table-list + ul {
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: space-between;
	grid-gap: 10px;
	padding:10px;
}

.table-list + ul li {
	width: 20vw;
	margin: 0;
}

.mermaid {
	display: inline-block;
	background-color: white;
}
