<table id="operator-table">
	<thead>
		<tr>
			<th align="center">Priority</th>
			<th align="left">Operator</th>
			<th align="left">Description</th>
			<th align="center">Associativity</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				15
			</td>
			<td>
				()<br>
				()<br>
				[]<br>
				.<br>
				++<br>
				--
			</td>
			<td>
				parenthesis<br>
				function call<br>
				bracket access<br>
				dot access<br>
				post-increment<br>
				post-decrement
			</td>
			<td>
				left to right
			</td>
		</tr>
		<tr>
			<td>
				14
			</td>
			<td>
				++<br>
				--<br>
				+<br>
				-<br>
				!<br>
				~
			</td>
			<td>
				pre-increment<br>
				pre-decrement<br>
				unary plus<br>
				unary minus<br>
				logical NOT<br>
				bitwise NOT
			</td>
			<td>
				right to left
			</td>
		</tr>
		<tr>
			<td>
				13
			</td>
			<td>
				**
			</td>
			<td>
				power
			</td>
			<td rowspan="11">
				left to right
			</td>
		</tr>
		<tr>
			<td>
				12
			</td>
			<td>
				*<br>
				/<br>
				%<br>
				%%
			</td>
			<td>
				multiplication<br>
				division<br>
				remainder<br>
				modulo
			</td>
		</tr>
		<tr>
			<td>
				11
			</td>
			<td>
				+<br>
				-
			</td>
			<td>
				addition<br>
				substraction
			</td>
		</tr>
		<tr>
			<td>
				10
			</td>
			<td>
				&lt;&lt;<br>
				&gt;&gt;<br>
				&gt;&gt;&gt;<br>
				rol<br>
				ror
			</td>
			<td>
				bitwise left shift<br>
				bitwise right shift<br>
				bitwise zero-fill right shift<br>
				bitwise left rotation<br>
				bitwise right rotation
			</td>
		</tr>
		<tr>
			<td>
				9
			</td>
			<td>
				&lt;<br>
				&lt;=<br>
				&gt;<br>
				&gt;=<br>
				instanceof
			</td>
			<td>
				relational &lt;<br>
				relational ≤<br>
				relational &gt;<br>
				relational ≥<br>
				instanceof
			</td>
		</tr>
		<tr>
			<td>
				8
			</td>
			<td>
				==<br>
				===<br>
				!=<br>
				!==
			</td>
			<td>
				relational =<br>
				relational strict =<br>
				relational ≠<br>
				relational strict ≠
			</td>
		</tr>
		<tr>
			<td>
				7
			</td>
			<td>
				&
			</td>
			<td>
				bitwise AND
			</td>
		</tr>
		<tr>
			<td>
				6
			</td>
			<td>
				^
			</td>
			<td>
				bitwise XOR
			</td>
		</tr>
		<tr>
			<td>
				5
			</td>
			<td>
				|
			</td>
			<td>
				bitwise OR
			</td>
		</tr>
		<tr>
			<td>
				4
			</td>
			<td>
				&&
			</td>
			<td>
				logical AND
			</td>
		</tr>
		<tr>
			<td>
				3
			</td>
			<td>
				||
			</td>
			<td>
				logical OR
			</td>
		</tr>
		<tr>
			<td>
				2
			</td>
			<td>
				?:
			</td>
			<td>
				ternary conditional
			</td>
			<td rowspan="2">
				right to left
			</td>
		</tr>
		<tr>
			<td>
				1
			</td>
			<td>
				&nbsp;&nbsp;=&nbsp;&nbsp;&lt;&lt;=&nbsp;&nbsp;&gt;&gt;=&nbsp;&gt;&gt;&gt;=<br>
				&nbsp;!=&nbsp;&nbsp;&nbsp;~=&nbsp;&nbsp;&nbsp;+=&nbsp;&nbsp;&nbsp;-=<br>
				**=&nbsp;&nbsp;&nbsp;*=&nbsp;&nbsp;&nbsp;/=&nbsp;&nbsp;&nbsp;%=<br>
				%%=&nbsp;&nbsp;&nbsp;&=&nbsp;&nbsp;&nbsp;^=&nbsp;&nbsp;&nbsp;|=<br>
				&&=&nbsp;&nbsp;||=
			</td>
			<td>
				assignments
			</td>
		</tr>
	</tbody>
</table>

<style>
	#operator-table td:nth-child(2) {
		font-family: 'Courier New', Courier, monospace;
	}

	#operator-table td:nth-child(1), #operator-table td:nth-child(4) {
		text-align: center;
		vertical-align: middle;
	}

	#operator-table td:nth-child(2), #operator-table td:nth-child(3) {
		text-align: left;
		vertical-align: top;
	}
</style>
